{% extends "base.html" %}

{% block content %}
<div class="row">
    <!-- left side bar -->
    {% include 'dashboard/sidebar.html'%}

    <!-- right side bar -->
     <div class="col-md-9">
        <h2>All Posts</h2>
        <a href="{% url "add_post" %}" class="btn btn-dark text-light float-right">Add Post</a>
         <table class="table">
             <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Author</th>
                    <th scope="col">Status</th>
                    <th scope="col">Featured</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ post.title }}</td>
                    <td>{{ post.category }}</td>
                    <td>{{ post.author }}</td>
                    <td>{{ post.status }}</td>
                    <td>{% if post.is_featured %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}</td>
                    <td>
                        <a href="{% url "edit_post" post.id %}"><i class="fa fa-edit text-success"></i></a>
                        &nbsp;
                        <a href="{% url "delete_post" post.id %}"><i class="fa fa-trash text-danger"></i><a/>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}