{% extends "base.html" %}

{% block content %}
<div class="row">
    <!-- left side bar -->
    {% include 'dashboard/sidebar.html'%}

    <!-- right side bar -->
     <div class="col-md-9">
        {% if perms.auth.view_user %}
        <h2>All Users</h2>
        <a href="{% url "add_user" %}" class="btn btn-dark text-light float-right">Add User</a>
         <table class="table">
             <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Active</th>
                    <th scope="col">Staff</th>
                    <th scope="col">Superuser</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>{%if user.is_active %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{%endif%}</td>
                    <td>{%if user.is_staff %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{%endif%}</td>
                    <td>{%if user.is_superuser %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{%endif%}</td>
                    <td>
                        <a href="{% url 'edit_user' user.id %}"><i class="fa fa-edit text-success"></i></a>
                        &nbsp;
                        <a href="{% url 'delete_user' user.id %}"><i class="fa fa-trash text-danger"></i><a/>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2>You are not authorised as a manager!</h2>
        {% endif %}
    </div>
</div>
{% endblock content %}